{% include 'header.html' %}

  <div class="d-flex flex-row justify-content-between mb-3">
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active " aria-current="page">{{folder.name}}</li>
      </ol>
    </div>
    <div class="text-end btn-tooltip">
      <button type="button" data-bs-toggle="modal" data-bs-target="#AddFolderModal" class="btn btn-primary">
        <i class="bi bi-folder-plus"></i> Новая папка</button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#AddFileModal" class="btn btn-secondary">
        <i class="bi bi-upload"></i> Загрузить файл</button>
    </div>
  </div>
  <div class="form-control d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <table class="table" style="table-layout: fixed; min-width: 100%;">
      <thead>
        <tr>
            <th scope="col">
              {% if request.GET.sortby == "fromname" %}
                <a class="text-decoration-none text-dark" href="?sortby=toname">Название <i class="bi bi-arrow-down"></i></a>
              {% elif request.GET.sortby == "toname" %}
                <a class="text-decoration-none text-dark" href="?sortby=fromname">Название <i class="bi bi-arrow-up"></i></a>
              {% else %}
                <a class="text-decoration-none text-dark" href="?sortby=fromname">Название<i class="bi bi-arrow-up"></i></a>
              {% endif %}
            </th>
            <th scope="col">
              {% if request.GET.sortby == "fromstatus" %}
                <a class="text-decoration-none text-dark" href="?sortby=tostatus">Состояние <i class="bi bi-arrow-down"></i></a>
              {% elif request.GET.sortby == "tostatus" %}
                <a class="text-decoration-none text-dark" href="?sortby=fromstatus">Состояние <i class="bi bi-arrow-up"></i></a>
              {% else %}
                <a class="text-decoration-none text-dark" href="?sortby=fromstatus">Состояние <i class="bi bi-arrow-up"></i></a>
              {% endif %}
            </th>
            <th style="width:40%" scope="col"></th>
            <th scope="col">
              {% if request.GET.sortby == "fromtime" %}
                <a class="text-decoration-none text-dark" href="?sortby=totime">Дата добавления <i class="bi bi-arrow-down"></i></a>
              {% elif request.GET.sortby == "totime" %}
                <a class="text-decoration-none text-dark" href="?sortby=fromtime">Дата добавления <i class="bi bi-arrow-up"></i></a>
              {% else %}
                <a class="text-decoration-none text-dark" href="?sortby=fromtime">Дата добавления<i class="bi bi-arrow-up"></i></a>
              {% endif %}
            </th>
            <th>
            </th>
        </tr>
      </thead>
      <tbody>
        {% for document in documents %}
        <tr>
          <td style="word-wrap:break-word;" class="cutname">{{document.name}}</td>
          <td style="word-wrap:break-word;">
            {% if document.read_status == 2  %}
                <p data-bs-toggle="tooltip" data-bs-title="Файл полностью проверен и готов к просмотру">
                    <i class="bi bi-check text-success"></i> Готов
                </p>
            {% elif document.read_status == 1 %}
                <p data-bs-toggle="tooltip" data-bs-title="Файл ожидает проверки модератором">
                    <i class="bi bi-circle-half text-warning"></i> Ожидает проверки
                </p>
            {% else %}
                <p data-bs-toggle="tooltip" data-bs-title="Файл обрабатывается системой">
                    <i class="bi bi-circle text-warning"></i> Обрабатывается
                </p>
            {% endif %}
          </td>
          <td style="word-wrap:break-word;" class="cutdesc">{{ document.headline |safe }}</td>
          <td style="word-wrap:break-word;">{{document.datetime |date:"d-m-Y H:i"}}</td>
          <td style="word-wrap:break-word;">
            {% csrf_token %}
            {% if search != None %}
            <div class="btn-group">
              <a href = "/{{document.group_uuid.uuid_name}}/{{document.uuid_name}}" class="btn btn-primary"
                aria-controls="offcanvasBottom"
                ><i class="bi bi-eye"></i></a>
              <a href = "/{{document.group_uuid.uuid_name}}/{{document.uuid_name}}/info" class="btn btn-secondary" 
                aria-controls="offcanvasBottom" ><i class="bi bi-three-dots"></i></a>
              <a href = "/{{document.group_uuid.uuid_name}}/{{document.uuid_name}}/delete" class="btn btn-danger"  
                  aria-controls="offcanvasBottom" ><i class="bi bi-x"></i></a>
            </div>
            {% else %}
            <div class="btn-group">
              <a href = "/{{folder.uuid_name}}/{{document.uuid_name}}" class="btn btn-primary"
                aria-controls="offcanvasBottom"
                data-bs-toggle="t"
                ><i class="bi bi-eye"></i></a>
              <a href = "/{{folder.uuid_name}}/{{document.uuid_name}}/info" class="btn btn-secondary" 
                aria-controls="offcanvasBottom" ><i class="bi bi-three-dots"></i></a>
              <a href = "/{{folder.uuid_name}}/{{document.uuid_name}}/delete" class="btn btn-danger"  
                  aria-controls="offcanvasBottom" ><i class="bi bi-x"></i></a>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'add_file.html' %}
{% include 'add_folder.html' %}
{% include 'message.html' %}



<div class="offcanvas offcanvas-bottom " tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title able-layout: fixed; width:100% " id="offcanvasBottomLabel" style="word-wrap:break-word;">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small" style="word-wrap:break-word;" id="info_desc">

  </div>
  <div class="offcanvas-body small" id="info_time">

  </div>
</div>

{% include 'footer.html' %}