{% include 'header.html' %}
<div class="container-sm">
  <form action="/search/" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input type="text" name="search" class="form-control" placeholder="Поиск в"
        aria-label="Поиск в" aria-describedby="button-addon2" required aria-required>
      <select class="form-select" name="search_type" style="max-width: 150px;">
        <option value="0" selected>Название</option>
        <option value="1">Описание</option>
        <option value="2">Содержание</option>
      </select>
      <button class="btn btn-secondary" type="submit" class="btn btn-primary" id="button-addon2">Найти</button>
    </div>
  </form>
  <div class="d-flex flex-row justify-content-between mb-3">
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active " aria-current="page">{{folder.name}}</li>
      </ol>
    </div>
    <div class="text-end btn-tooltip">
      <button type="button" data-bs-toggle="modal" data-bs-target="#AddFolderModal" class="btn btn-primary">
        <i class="bi bi-folder-plus"></i> Новая папка</button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#AddFileModal" class="btn btn-secondary">
        <i class="bi bi-upload"></i> Загрузить файл</button>
    </div>
  </div>
  <div class="form-control d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <table class="table" style="table-layout: fixed; min-width: 100%;">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th style="width:40%" scope="col">Описание</th>
          <th scope="col">Дата добавления</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      
        {% for document in documents %}
        <tr>
          <td style="word-wrap:break-word;" class="cutname">{{document.name}}</td>
          <td style=" word-wrap:break-word;" class="cutdesc">{{document.description}}</td>
          <td style="word-wrap:break-word;">{{document.datetime |date:"d-m-Y H:i"}}</td>
          <td style="word-wrap:break-word;">
            <form class="text-center" action="/{{folder.uuid_name}}/{{document.uuid_name}}/info" method="post">
              {% csrf_token %}
              <div class="btn-group">
                <a class="btn btn-secondary" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"
                  onclick="Info('{{document.name}}');" title="Подробнее..."><i class="bi bi-three-dots"></i></a>
                <button class="btn btn-primary" type="submit" name = "file_id" data-bs-toggle="offcanvas" href = "/{{folder.uuid_name}}/{{document.uuid_name}}/info" value="{{document.uuid_name}}"
                  aria-controls="offcanvasBottom" title="Открыть файл"><i class="bi bi-eye"></i></button>
                  <button class="btn btn-danger" type="submit" name = "file_id" data-bs-toggle="offcanvas" href = "/{{folder.uuid_name}}/{{document.uuid_name}}/info" value="{{document.uuid_name}}"
                    aria-controls="offcanvasBottom" title="Удалить файл"><i class="bi bi-x"></i></button>
              </div>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'add_file.html' %}
{% include 'add_folder.html' %}
{% include 'message.html' %}



<div class="offcanvas offcanvas-bottom " tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title able-layout: fixed; width:100% " id="offcanvasBottomLabel" style="word-wrap:break-word;">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small" style="word-wrap:break-word;" id="info_desc">

  </div>
  <div class="offcanvas-body small" id="info_time">

  </div>
</div>

{% include 'footer.html' %}