{% include 'header.html' %}
  <div class="d-flex flex-row justify-content-between mb-3">
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Главная</li>
      </ol>
    </div>
    <div class="text-end btn-tooltip">
      <button type="button" data-bs-toggle="modal" data-bs-target="#AddFolderModal" class="btn btn-primary">
        <i class="bi bi-folder-plus"></i> Новая папка</button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#AddFileModal" class="btn btn-secondary">
        <i class="bi bi-upload"></i> Загрузить файл</button>
    </div>
  </div>
  <div class="form-control d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <table class="table" style="  table-layout: fixed; width:100% ">
      <thead>
        <tr>
          <th scope="col">
          {% if request.GET.sortby == "fromname" %}
            <a class="text-decoration-none text-dark" href="?sortby=toname">Название <i class="bi bi-arrow-down"></i></a>
          {% elif request.GET.sortby == "toname" %}
            <a class="text-decoration-none text-dark" href="?sortby=fromname">Название <i class="bi bi-arrow-up"></i></a>
          {% else %}
            <a class="text-decoration-none text-dark" href="?sortby=fromname">Название</i></a>
          {% endif %}
          </th>
          <th scope="col">
          {% if request.GET.sortby == "fromtime" %}
            <a class="text-decoration-none text-dark" href="?sortby=totime">Последнее изменение <i class="bi bi-arrow-down"></i></a>
          {% elif request.GET.sortby == "totime" %}
            <a class="text-decoration-none text-dark" href="?sortby=fromtime">Последнее изменение <i class="bi bi-arrow-up"></i></a>
          {% else %}
            <a class="text-decoration-none text-dark" href="?sortby=fromtime">Последнее изменение</i></a>
          {% endif %}
          </th>
          <th scope="col">Количество эл-ов</th>
        </tr>
      </thead>
      <tbody>
        {% for folder in folders %}
          <tr onclick='location.href = "/{{folder.uuid_name}}"'>
            <td>{{folder.name}}</td>
            <td>{{folder.datetime |date:"d-m-Y H:i"}}</td>
            <td>{{folder.count}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'add_file.html' %}
{% include 'add_folder.html' %}
{% include 'message.html' %}

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title able-layout: fixed; width:100% " id="offcanvasBottomLabel" style="word-wrap:break-word;">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small" style="word-wrap:break-word;" id="info_desc">
  </div>
  <div class="offcanvas-body small" id="info_time">
  </div>
</div>

{% include 'footer.html' %}