<script type="text/javascript">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    $('input[type="file"]').change((event) => {
      var fileName = event.target.files[0].name;
      document.querySelector("#fname").value=fileName;
    });

    function NotValid() {
      const yratext = /[<|>]/gm;
      let filename = document.querySelector('#fname');
      if (yratext.test(filename.value)) {
        filename.value = '';
        alert('Введены запрещенные символы: < или >');
      }
    }
</script>
</html>