<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DOCHUB</title>
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>

  <link href="{% static 'bootstrap-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<header class="p-3 mb-3 border-bottom bg-secondary">
  <div class="container">
    <a href="/" class="text-light text-decoration-none">
      <i class="bi bi-house"></i> 
    </a>
  </div>
</header>
<div class="container-sm">
  <form action="/search/" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input type="text" name="search" class="form-control" placeholder="Поиск"
        aria-label="Поиск в" aria-describedby="button-addon2" required aria-required>

      <button class="btn btn-secondary" type="submit" class="btn btn-primary" id="button-addon2">Найти</button>
    </div>
  </form>