<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DOCHUB</title>
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>

  <link href="{% static 'bootstrap-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<header class="p-3 mb-3 border-bottom bg-secondary">
  <div class="container d-flex flex-row justify-content-between">
    <a href="/" class="text-light text-decoration-none">
      <i class="bi bi-house"></i> 
    </a>
    
<!--    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width:  {{progress}}%"></div>
    </div>
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: {{progress}}%"></div>
</div> Вот так + - но он не отображает хз почему :\
-->
    <p class="text-light fst-italic mb-0">
        {{ request.user.username }}
    </p>
  </div>
</header>
<div class="container-sm">
{% if folder != None %}
  <form action="{{folder.uuid_name}}/search" method="post">
{% else %}
<form action="/search/" method="post">
{% endif %}
    {% csrf_token %}
    <div class="input-group mb-3">
      <input type="text" name="search" class="form-control" placeholder="Поиск"
        aria-label="Поиск в" aria-describedby="button-addon2" required aria-required>

      <button class="btn btn-secondary" type="submit" class="btn btn-primary" id="button-addon2">Найти</button>
    </div>
  </form>