<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADFilesSearch</title>
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>

  <link href="{% static 'bootstrap-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<header class="p-3 mb-3 border-bottom bg-secondary">
  <div class="container">
    <a href="/" class="text-light text-decoration-none">
      <i class="bi bi-house"></i> Главная
    </a>
  </div>
</header>